<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.hqme.cm.sample" android:versionCode="1" android:versionName="0.3.1.0">

	<application android:label="@string/app_name" 
		android:allowClearUserData="true" android:persistent="false"
		android:configChanges="orientation" android:debuggable="true">

		<activity android:name="com.hqme.cm.sample.HqmeClientActivity" android:label="@string/app_name"
			android:configChanges="orientation">
			<intent-filter>
				<action android:name="com.hqme.cm.sample.HqmeClientActivity" />
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name="com.hqme.cm.sample.HqmeClientReceiver">
			<intent-filter>
				<action android:name="com.hqme.cm.sample.QR_COMPLETED"></action>
			</intent-filter>
		</receiver>

		
	</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-sdk android:minSdkVersion="8" />
</manifest>
